<div class="">
    <ul id="collapsible-components" class="collapsible popout">
        <!-- ======================================================================================================= -->
        <!-- GRAPH QUERY-->
        <!-- ======================================================================================================= -->
        <li id="p-collapsible-popoto" class="active">
            <div class="collapsible-header white-text" style="background-color: #525863; border-bottom: 0;"><i
                    class="ppt-icon ppt-icon-logo" style="color:#8bb71a;"></i> Graph
                Query in Angular 2+ application
            </div>
            <div class="collapsible-body no-padding" style="height: 600px; border-bottom: 0;">
                <div id="popoto-taxonomy" class="ppt-taxo-nav" style="color: white; width: 280px">
                </div>
                <div id="popoto-graph" class="ppt-div-graph">
                </div>
            </div>
        </li>
        <!-- ======================================================================================================= -->
        <!-- QUERY -->
        <!-- ======================================================================================================= -->
        <li id="p-collapsible-query" class="active">
            <div class="collapsible-header white-text" style="background-color: #525863;border-bottom: 0;"><i
                    class="ppt-icon ppt-icon-wrench" style="color:#8bb71a;"></i>Query
            </div>
            <div class="collapsible-body no-padding" style="border-bottom: 0;">
                <div id="popoto-cypher" class="ppt-container-cypher center-align">
                </div>
            </div>
        </li>
        <!-- ======================================================================================================= -->
        <!-- RESULTS -->
        <!-- ======================================================================================================= -->
        <li id="p-collapsible-results" class="active">
            <div class="collapsible-header white-text" style="background-color: #525863;border-bottom: 0;"><i
                    class="ppt-icon ppt-icon-sort-alpha-asc" style="color:#8bb71a;"></i>Results&nbsp;
                <span class="" id="result-total-count">0</span>
            </div>
            <div class="collapsible-body no-padding" style="border-bottom: 0;">
                <div class="row">
                    <div id="popoto-results" class="col s12 cards-container">

                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>